form {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.table {
    display: flex;
    flex-direction: column;
}

.table, .th, .td {
    width: 90vw;
    justify-content: center;
    align-items: center;
}
@media screen and (min-width: 768px) {
    form {
        margin: 40px 0;
    }
    
    form label, form p {
        display: block;
        font-size: 20px;
        margin: 0 0 10px;
    }
    
    .input-padrao {
        display: block;
        margin: 0 0 15px;
        padding: 2px 20px;
        width: 60vw;
    }
    
    .checkbox{
        margin: 20px;
    }
    
    .enviar {
        width:40%;
        padding: 15px 0;
        background: orange;
        color: white;
        font-weight: bold;
        font-size: 18px;
        border: none;
        border-radius: 15px;
        transition: 1s all;
        cursor: pointer;
    }
    
    .enviar:hover {
        background: darkorange;
        transform: scale(1.2);
    }
    
    table {
        margin: 20px 40px;
    }
    
    thead {
        background: #555555;
        color: white;
        font-weight: bold;
    }
    
    td, th {
        border: 1px solid #000000;
        padding: 8px 20px;
    }
}