.container {
	display: flex;
	background: #BBBBBB;
	flex-direction: column;
}

.caixa {
	align-items: center;
	display: flex;
	justify-content: center;
	width: 100vw;
}
.container__nav {
	display: flex;
	justify-content: space-around;
	padding: 0 0 1em;

}

.container__nav li a {
	text-decoration: none;
}

.banner {
	height: 80vw;
	width: 100vw;
}

.imagem-beneficios {
	width: 100vw;
}

.titulo-principal {
	font-weight: bold;
	padding: 2em 0 0;
	text-align: center;
}

.utensilios {
	width: 100vw
}

.principal p {
	margin: 1em;
}

.mapa p {
	margin: 1em;
}

.lista-beneficios {
	padding: 1em 0;
	text-align: center;
}

.video {
	padding: 2em 0;
	width: 100vw;
}

.rodape {
	align-items: center;
	color: #FEFEFE;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 2em 0;
	background: url("bg.jpg");
}



@media screen and (min-width: 768px) {
	header {
		width: 100vw;
	}
	
	.caixa {
		position: relative;
		margin:0 auto;
	}
	
	nav {
		position: absolute;
		top: 110px;
		right: 0;
	}
	
	nav li {
		display: inline;
		margin: 0 0 0 15px;
	}
	
	nav a {
		text-transform: uppercase;
		color: #000000;
		font-weight: bold;
		font-size: 22px;
		text-decoration: none;
	}
	
	nav a:hover {
		color: #C78C19;
		text-decoration: underline;
	}
	
	footer {
		text-align: center;

		padding: 20px 0;
	}
	
	.copyright{
		color: #FFFFFF;
		font-size: 13px;
		margin:10px 0;
	}
	
	/*css da página inicial*/
	.banner {
		width:100vw;
	}
	
	.titulo-principal {
		text-align: center;
		font-size: 2em;
		margin: 0 0 1em;
		clear: left;
	}
	
	.principal {
		padding: 3em 0;
		background: #FEFEFE;
		margin: 0 auto;
	}
	
	.principal p {
		margin: 0 0 1em;
	}
	
	.principal strong {
		font-weight: bold;
	}
	
	.principal em {
		font-style: italic;
	}
	
	.utensilios {
		left: 230px;
    	position: relative;
		width: 40vw;
	}
	
	.mapa {
		padding: 3em 0;
		background: linear-gradient(#FEFEFE, #888888);
	}
	
	.mapa-conteudo {
		width: 300px;
		margin: 0 auto;
	}
	
	.mapa p {
		margin: 0 0 2em;
		text-align: center;
	}
	
	.beneficios {
		padding: 3em 0;
		background: #888888;
	}
	
	.conteudo-beneficios {
		width: 640px;
		margin: 0 auto;
	}
	
	.lista-beneficios {
		width: 40%;
		display: inline-block;
		vertical-align: top;
	}
	
	.itens {
		line-height: 2;
	}
	
	.itens:before {
		content: "✯";
	}
	
	.itens:first-child {
		font-weight: bold;
	}
	
	.imagem-beneficios {
		width: 30vw;
	}
	
	.video {
		display: flex;
		justify-content: center;
	}

	.video-beneficios {
		width: 500px;
		height: 300px;
	}
}